# Qt Creator specific
.idea/
*.pro.user
*.pro.user.*

# Qt build and intermediate files
*.pro.user*
*.pro.*
Makefile
*.moc
*.qmake.stash
*.qmake.cache
*.qmlproject.user
*.qmlproject.user.*

# Compiled files
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.exe
*.dll
*.pdb
*.idb
*.ilk
*.exp
*.app
*.dSYM/
*.swp
*~
*.bak
*.orig
*.suo
*.user
*.userosscache
*.userprefs

# Qt Creator build folder
/debug/
.debug/
release/
.releases/
dist/
build-*

# CMake specific
CMakeLists.txt.user
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles/

# macOS specific
*.dmg
*.app

# Windows specific
Thumbs.db
ehthumbs.db

# Linux specific
*.swp

# Access file
access.txt

# Database
*.db

# My folders
build-DailyTasksManager-Desktop_Qt_6_7_0-Debug/
build-DailyTasksManager-Desktop_Qt_6_7_0-Profile/
build-DailyTasksManager-Desktop_Qt_6_7_0-Release/
